%h1= t('Listing Employees')
%table
  %tbody
    %tr
      %th ID
      %th First name
      %th Last name
      %th IRD number
      %th Tax code
      %th ACC procent
      %th Kiwi saver percentage
      %th
      %th
      %th
      %th
    - @employees.each do |chart| 
      %tr
        %td= chart.id
        %td= chart.firstname
        %td= chart.lastname
        %td= chart.irdcode
        %td= chart.taxcode
        %td= chart.accprocent
        %td= chart.kiwisaver
        %td
          %b= link_to 'Show', chart
        %td
          %b= link_to 'Edit', edit_employee_path(chart)
        %td
          %b= link_to 'Destroy', chart, method: :delete, :class=>:destroy, data: { confirm: 'Are you sure?' }
        %td
          %b= link_to 'Make payment to him/her', make_payment_employee_path(chart)
        
%b= link_to 'New Employee', new_employee_path
