%h3 Welcome to Admin service

%p
  = link_to 'Export/Import_new:', :controller => "exp_imps", :action => "new"
  %br
  = link_to 'Users:', :controller => "exp_imps", :action => "index" 
  = User.all.count  
  %br
  = link_to 'Full charts:', :controller => "charts", :action => "indexfull"
  = Chart.all.count