= form_tag transfer_data_path, :method => 'post' do
  = "Bank:"
  = select_tag :argb, options_for_select( {"ANZ" => "1", "ANZ visa" => "2", "ASB" => "3", "BNZ" => 4, "Kiwi bank" => "5", "Westpack bank" => "6"}) 
  %br
  %br
  = "Company:"
  = select_tag :argn, options_for_select( {"Person" => "1", "Company" => "2"}) 
  %br
  %br
  = "csv File:"
  = file_field_tag :args, :multipart => true
  %br
  
  = submit_tag "Run Transfer"
