= form_for(@transaction) do |f|
  - if @transaction.errors.any?
    #error_explanation
      %h2= pluralize(@transaction.errors.count, "error")
      "prohibited this user from being saved:"
    %ul - @transaction.errors.full_messages.each do |msg|
    %li = msg


  #field
    = f.check_box :gst_include, :id => "chb_gst", :checked => @transaction.gsttype
    = f.label :GST_included

  #field
    = f.label :Date
    = f.date_select :date

   
        
  #field
    = f.label :AmountTotal
    %br
    = f.number_field :amounttotal, :id => "nf_total",:type => "number", :step => ".01"

  
  #field
    = f.label :Gstamount 
    %br
    = f.number_field :gstamount, :id => "nf_gst", :disabled => 'disabled'


  #field
    = f.label :Netamount 
    %br
    = f.number_field :netamount, :id => "nf_net", :disabled => 'disabled',:type => "number", :step => ".01"

  #field
    = f.label :Category
    %br
    = f.select :chart_clone_id, options_for_select(@chart_clones.collect { |ccc| [ccc.content.titleize, ccc.id] }, @transaction.chart_clone_id), {}, { id: 'chart_clones_select' }
    
  #field
    = f.label :Code
    %br
    = f.select :chart_id, options_for_select(@partcharts.collect { |ccd| [ccd.content.titleize, ccd.code] },  @transaction.chart_id), {}, { id: 'charts_select' }

  #field
    = f.label :Who 
    = f.select :co, options_for_select( {"Company" => "2", "Person" => "1", "Reserve" => "0"}, {"selected" => @transaction.co})    
    


  #actions
    = f.submit

<script>
type="text/javascript"
$(document).ready(function () {
$("#chb_correc_extra").click(function () {
if ($(this).is(":checked")) {
$("#chb_tax_extra").prop("disabled", false);
$("#chb_acc_extra").prop("disabled", false);
$("#chb_sl_extra").prop("disabled", false);
$("#chb_ks_extra").prop("disabled", false);
} else {
$("#chb_tax_extra").prop("disabled", true);
$("#chb_acc_extra").prop("disabled", true);
$("#chb_sl_extra").prop("disabled", true);
$("#chb_ks_extra").prop("disabled", true);
}
});
});
</script>

<script>
type="text/javascript"
$(document).ready(function () {
$("#chb_gst").click(function () {
if ($(this).is(":checked")) {
$("#nf_net").prop("disabled", true);
$("#nf_total").prop("disabled", false);
} else {
$("#nf_total").prop("disabled", true);
$("#nf_net").prop("disabled", false);
}
});
});
</script>
