%h1= t('Listing future transactions')
= form_tag @fts do 
  %table
    %tbody
      %tr
        %th Date
        %th Section
        %th Code
        %th Amounttotal
        %th Gsttype
        %th Gstamount
        %th Netamount
        %th Co
        %th For_Moving
        
        %th
        %th
      - @future_transactions.each do |transaction| 
        %tr
          %td= transaction.date
          %td= transaction.chart_clones_id
          %td= link_to transaction.code, charts_path
          %td= transaction.amounttotal
          %td= transaction.gsttype
          %td= transaction.gstamount
          %td= transaction.netamount
          %td= transaction.co
          
          %td= check_box_tag "transaction_ids[]", transaction.id
          %td= link_to 'Show', transaction
          %td= link_to 'Edit', edit_future_transaction_path(transaction)
          %td= link_to 'Destroy', transaction, method: :delete, class: :destroy, data: { confirm: 'Are you sure?' } 
  %br        
  
  #actions
    %b= submit_tag "Move to transactions"

%b= link_to 'New Future Transaction', new_future_transaction_path
%br
%b= link_to 'Compact table', :controller => 'future_transactions', :action => "compact"
%br
%b= link_to 'Back', controller: '/visitors', action: 'main_menu', class: 'navbar-brand'
